<nb-layout windowMode>
  <nb-layout-header fixed>
    <nb-actions size="small">
      <nb-action icon="fa fa-arrow-left" routerLink="/admin/orders"></nb-action>
      <nb-action>Admin panel</nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-layout-column>
    <div class="container col-6">
      <div class="justify-content-center mt-5">
        <form (ngSubmit)="save()" [formGroup]="orderForm">

          <label class="mt-2" for="fullNameForm">Navn:</label>
          <input class="form-control" formControlName="fullName" id="fullNameForm"
                 placeholder="Indtast fulde navn på ordre kunde"
                 type="text">

          <label class="mt-2" for="addressForm">Adresse:</label>
          <input class="form-control" formControlName="address" id="addressForm"
                 placeholder="Indtast adresse på ordre kunde"
                 type="text">

          <label class="mt-2" for="zipcodeForm">Postnr.:</label>
          <input class="form-control" formControlName="zipcode" id="zipcodeForm"
                 max="9999"
                 maxlength="4" min="1000" placeholder="Indtast postnummer på ordre kunde" type="number">

          <label class="mt-2" for="cityForm">By:</label>
          <input class="form-control" formControlName="city" id="cityForm"
                 placeholder="Indtast ordre kundens by"
                 type="text">

          <label class="mt-2" for="countryForm">Land:</label>
          <input class="form-control" formControlName="country" id="countryForm"
                 placeholder="Indtast ordre kundens land"
                 type="text">

          <label class="mt-2" for="phoneNumberForm">Telefonnummer:</label>
          <input class="form-control" formControlName="phoneNumber" id="phoneNumberForm"
                 max="99999999"
                 maxlength="8" min="00000000" placeholder="Indtast telefonnummer på ordre kunde" type="number">

          <label class="mt-2" for="emailForm">Email:</label>
          <input class="form-control" formControlName="email" id="emailForm"
                 placeholder="Indtast ordre kundens e-mail"
                 type="email">

          <label class="mt-3" for="RadioNo">Er ordren leveret?</label>
          <div>
            <div class="form-check">
              <input [(ngModel)]="orderDelivered" [value]="false" class="form-check-input" formControlName="isDelivered"
                     id="RadioNo" type="radio">
              <label class="form-check-label" for="RadioNo">Nej</label>
            </div>
            <div class="form-check">
              <input [(ngModel)]="orderDelivered" [value]="true" class="form-check-input" formControlName="isDelivered"
                     id="RadioYes" type="radio">
              <label class="form-check-label" for="RadioYes">Ja</label>
            </div>
          </div>

          <button class="btn btn-primary btn-block mb-3 mt-3" type="submit">Rediger ordre</button>
        </form>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
