<div class="container">
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <h2>Admin Login</h2>
        <p>Indtast venligst dit brugernavn og din adgangskode</p>
      </div>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" id="Login">

        <div class="form-group">
          <input class="form-control" formControlName="username" id="inputEmail" placeholder="Brugernavn" required
                 type="text">
          <div *ngIf="username.invalid && submitted" class="alert-danger">
            <div *ngIf="username.errors.required">Brugernavn er påkrævet!</div>
          </div>
        </div>

        <div class="form-group">

          <input class="form-control" formControlName="password" id="inputPassword" placeholder="Adgangskode" required
                 type="password">
          <div *ngIf="password.invalid && submitted" class="alert-danger">
            <div *ngIf="password.errors.required">Adgangskode er påkrævet.</div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Login</button>
          <img *ngIf="loading"
               alt=""
               src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
        </div>
        <div *ngIf="errormessage" class="alert-danger">{{errormessage}}</div>
      </form>
    </div>
  </div>
</div>
