<nb-layout windowMode>

  <nb-layout-header fixed>
    General Webshop
  </nb-layout-header>

  <nb-layout-column>
    <div class="container-fluid">
      <nb-tabset fullWidth>
        <nb-tab tabTitle="All orders">
          <div class="container-fluid">
            <div *ngIf="!orders" class="row">
              <progressbar [animate]="true" [striped]="true" [value]="100" class="mt-5 col-12 pr-0 pl-0" type="success">
                Loading
                orders...
              </progressbar>
            </div>

            <div *ngIf="orders" class="row mt-4">
              <div *ngFor="let order of orders" class="col-xxxl-3 col-md-6">

                <nb-card>
                  <nb-card-header>
                    ID - {{order.id}}
                  </nb-card-header>
                  <nb-card-body>
                    <h5>{{order.fullName}}</h5>
                  </nb-card-body>
                  <nb-card-footer>

                    <div class="btn-group d-flex">
                      <button class="btn btn-primary mr-3 w-100" routerLink="/admin/order/{{order.id}}">Details</button>
                      <button class="btn btn-info w-100" routerLink="/admin/order-update/{{order.id}}">Edit</button>
                      <button (click)="delete(order.id)" class="btn btn-danger w-100">Delete</button>
                    </div>
                  </nb-card-footer>
                </nb-card>
              </div>
            </div>
          </div>
        </nb-tab>
        <nb-tab tabTitle="Not shipped">
          <div class="container-fluid">
            <div *ngIf="!orders" class="row">
              <progressbar [animate]="true" [striped]="true" [value]="100" class="mt-5 col-12 pr-0 pl-0" type="success">
                Loading
                orders...
              </progressbar>
            </div>

            <div *ngIf="orders" class="row mt-4">
              <div *ngFor="let order of orders" class="col-xxxl-3 col-md-6">
                <div *ngIf="order.isDelivered == false">

                  <nb-card>
                    <nb-card-header>
                      ID - {{order.id}}
                    </nb-card-header>
                    <nb-card-body>
                      <h5>{{order.fullName}}</h5>
                    </nb-card-body>
                    <nb-card-footer>

                      <div class="btn-group d-flex">
                        <button class="btn btn-primary mr-3 w-100" routerLink="/admin/order/{{order.id}}">Details
                        </button>
                        <button class="btn btn-info w-100" routerLink="/admin/order-update/{{order.id}}">Edit</button>
                        <button (click)="delete(order.id)" class="btn btn-danger w-100">Delete</button>
                      </div>
                    </nb-card-footer>
                  </nb-card>
                </div>
              </div>
            </div>
          </div>
        </nb-tab>
        <nb-tab tabTitle="Shipped">
          <div class="container-fluid">
            <div *ngIf="!orders" class="row">
              <progressbar [animate]="true" [striped]="true" [value]="100" class="mt-5 col-12 pr-0 pl-0" type="success">
                Loading
                orders...
              </progressbar>
            </div>

            <div *ngIf="orders" class="row mt-4">
              <div *ngFor="let order of orders" class="col-xxxl-3 col-md-6">
                <div *ngIf="order.isDelivered == true">

                  <nb-card>
                    <nb-card-header>
                      ID - {{order.id}}
                    </nb-card-header>
                    <nb-card-body>
                      <h5>{{order.fullName}}</h5>
                    </nb-card-body>
                    <nb-card-footer>

                      <div class="btn-group d-flex">
                        <button class="btn btn-primary mr-3 w-100" routerLink="/admin/order/{{order.id}}">Details
                        </button>
                        <button class="btn btn-info w-100" routerLink="/admin/order-update/{{order.id}}">Edit</button>
                        <button (click)="delete(order.id)" class="btn btn-danger w-100">Delete</button>
                      </div>
                    </nb-card-footer>
                  </nb-card>
              </div>
            </div>
          </div>
        </div>
        </nb-tab>
      </nb-tabset>
    </div>
  </nb-layout-column>

  <nb-layout-footer>
    Hello edit me please?
  </nb-layout-footer>

</nb-layout>

