<nb-layout windowMode>

  <nb-layout-header fixed>
    <nb-actions size="small">
      <nb-action icon="fa fa-arrow-left" routerLink="/admin"></nb-action>
      <nb-action>General Webshop</nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-layout-column>
    <div class="container-fluid">
      <nb-tabset fullWidth>
        <nb-tab tabTitle="All orders">
          <div class="container-fluid">
            <div *ngIf="!orders" class="row">
              <progressbar [animate]="true" [striped]="true" [value]="100" class="mt-5 col-12 pr-0 pl-0" type="success">
                Loading
                orders...
              </progressbar>
            </div>

            <div *ngIf="orders" class="row mt-4">
              <ng-container *ngFor="let order of orders">
                <div class="col-xxxl-3 col-md-6">
                  <nb-card>
                    <nb-card-header>
                      <div>
                        <span class="float-left">Ordernr.: {{order.orderNumber}}</span>
                        <span class="float-right">ID: {{order.orderId}}</span>
                      </div>
                    </nb-card-header>
                    <nb-card-body>
                      <h5>Købt d. {{order.orderDate}} af {{order.fullName}}.</h5>
                      <h5>Skal leveres til: </h5><span>{{order.address}}, {{order.zipcode}} {{order.city}}
                      , {{order.country}}</span>
                    </nb-card-body>
                    <nb-card-footer>
                      <div class="btn-group d-flex">
                        <button class="btn btn-primary mr-3 w-100" routerLink="/admin/order/{{order.orderId}}">Details
                        </button>
                        <button class="btn btn-info w-100" routerLink="/admin/order-update/{{order.orderId}}">Edit
                        </button>
                        <button (click)="delete(order.orderId)" class="btn btn-danger w-100">Delete</button>
                      </div>
                    </nb-card-footer>
                  </nb-card>
                </div>
              </ng-container>
            </div>
          </div>
        </nb-tab>

        <nb-tab tabTitle="Not shipped">
          <div class="container-fluid">
            <div *ngIf="!orders" class="row">
              <progressbar [animate]="true" [striped]="true" [value]="100" class="mt-5 col-12 pr-0 pl-0" type="success">
                Loading
                orders...
              </progressbar>
            </div>
            <div *ngIf="orders" class="row mt-4">
              <ng-container *ngFor="let order of orders">
                <ng-container *ngIf="order.isDelivered == false">
                  <div class="col-xxxl-3 col-md-6">
                    <nb-card>
                      <nb-card-header>
                        <div>
                          <span class="float-left">Ordernr.: {{order.orderNumber}}</span>
                          <span class="float-right">ID: {{order.orderId}}</span>
                        </div>
                      </nb-card-header>
                      <nb-card-body>
                        <h5>Købt d. {{order.orderDate}} af {{order.fullName}}.</h5>
                        <h5>Skal leveres til: </h5><span>{{order.address}}, {{order.zipcode}} {{order.city}}
                        , {{order.country}}</span>
                      </nb-card-body>
                      <nb-card-footer>
                        <div class="btn-group d-flex">
                          <button class="btn btn-primary mr-3 w-100" routerLink="/admin/order/{{order.orderId}}">Details
                          </button>
                          <button class="btn btn-info w-100" routerLink="/admin/order-update/{{order.orderId}}">Edit
                          </button>
                          <button (click)="delete(order.orderId)" class="btn btn-danger w-100">Delete</button>
                        </div>
                      </nb-card-footer>
                    </nb-card>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </nb-tab>

        <nb-tab tabTitle="Shipped">
          <div class="container-fluid">
            <div *ngIf="!orders" class="row">
              <progressbar [animate]="true" [striped]="true" [value]="100" class="mt-5 col-12 pr-0 pl-0" type="success">
                Loading
                orders...
              </progressbar>
            </div>
            <div *ngIf="orders" class="row mt-4">
              <div class="col-xxxl-3 col-md-6">
                <ng-container *ngFor="let order of orders">
                  <ng-container *ngIf="order.isDelivered == true">
                    <nb-card>
                      <nb-card-header>
                        <div>
                          <span class="float-left">Ordernr.: {{order.orderNumber}}</span>
                          <span class="float-right">ID: {{order.orderId}}</span>
                        </div>
                      </nb-card-header>
                      <nb-card-body>
                        <h5>Købt d. {{order.orderDate}} af {{order.fullName}}.</h5>
                        <h5>Skal leveres til: </h5><span>{{order.address}}, {{order.zipcode}} {{order.city}}
                        , {{order.country}}</span>
                      </nb-card-body>
                      <nb-card-footer>

                        <div class="btn-group d-flex">
                          <button class="btn btn-primary mr-3 w-100" routerLink="/admin/order/{{order.orderId}}">Details
                          </button>
                          <button class="btn btn-info w-100" routerLink="/admin/order-update/{{order.orderId}}">Edit
                          </button>
                          <button (click)="delete(order.orderId)" class="btn btn-danger w-100">Delete</button>
                        </div>
                      </nb-card-footer>
                    </nb-card>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
        </nb-tab>
      </nb-tabset>
    </div>
  </nb-layout-column>
</nb-layout>

