<div>
  <app-navbar></app-navbar>
</div>

<div class="container mt-5">
  <div class="card">
    <table class="table table-hover shopping-cart-wrap">
      <thead class="text-muted">
      <tr>
        <th scope="col">Produkt</th>
        <th scope="col" width="120">Antal</th>
        <th scope="col" width="200">Pris</th>
        <th class="text-right" scope="col" width="120">Fjern</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let product of cartProducts">
        <tr *ngIf="product.numberOfProduct > 0">
          <td>
            <figure class="media">
              <div class="img-wrap"><img alt="" class="img-thumbnail img-sm" src='{{product.product.image}}'></div>
              <figcaption class="media-body">
                <h6 class="title text-truncate">{{product.product.title}}</h6>
              </figcaption>
            </figure>
          </td>
          <td>
            <var class="price">
              {{product.numberOfProduct}}
            </var>
          </td>
          <td>
            <div class="price-wrap">
              <var class="price">{{product.product.price * product.numberOfProduct}},- DKK</var>
              <small class="text-muted">{{product.product.price}},- DKK</small>
            </div>
          </td>
          <td class="text-right">
            <a (click)="removeFromCart(product.product)"
               class="btn btn-outline-danger"> × Slet 1</a>
          </td>
        </tr>
      </ng-container>
      <!-- TODO: Do design stuff -->
      <tr>
        <div class="card-footer">
          <div class="coupon col-md-5 col-sm-5 no-padding-left pull-left">
            <div class="row">
            </div>
          </div>
          <div class="pull-right" style="margin: 10px">
            <div class="pull-right" style="margin: 5px">
              Total: <b>{{totalPrice}},- DKK</b>
            </div>
            <a routerLink="/checkout" class="btn btn-success pull-right">Gå til bestilling</a>
          </div>
        </div>
      </tr>
      </tbody>

    </table>

  </div>
</div>
