<nb-layout windowMode>

  <nb-layout-header fixed>
    <nb-actions size="small">
      <nb-action>General Webshop</nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-layout-column>
    <div class="container-fluid">
      <div class="btn-toolbar justify-content-between" role="toolbar">

        <button class="btn btn-primary" routerLink="/admin/product-add">Add product</button>

        <button class="btn btn-info" routerLink="/admin/orders">View orders</button>

      </div>

      <div *ngIf="!products" class="row">
        <progressbar [animate]="true" [striped]="true" [value]="100" class="mt-5 col-12 pr-0 pl-0" type="success">
          Loading
          products...
        </progressbar>
      </div>

      <div *ngIf="products" class="row mt-4">
        <div *ngFor="let product of products" class="col-xxxl-3 col-md-6">

          <nb-card>
            <nb-card-header>
              <div>
                <span class="float-left">{{product.title}}</span>
                <span class="float-right">ID: {{product.productId}}</span>
              </div>
            </nb-card-header>
            <nb-card-body>
              <div class="product-details">
                <img alt="" height="100%" src='{{product.image}}' width="100%">
                <div class="float-left">
                  <h5>Price: </h5>
                  <p>{{product.price}},- DKK</p>
                </div>
                <div class="float-right">
                  <h5>Stock: </h5>
                  <p>{{product.amountInStock}}</p>
                </div>
              </div>
            </nb-card-body>
            <nb-card-footer>
              <div class="btn-group d-flex">
                <button class="btn btn-info mr-1 w-100" routerLink="/admin/product-update/{{product.productId}}">Edit
                </button>
                <button (click)="delete(product.productId)" class="btn btn-danger w-100">Delete</button>
              </div>
            </nb-card-footer>
          </nb-card>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>

