<nb-layout windowMode>

  <nb-layout-header fixed>
    <nb-actions size="small">
      <nb-action icon="fa fa-arrow-left" routerLink="/admin"></nb-action>
      <nb-action>Admin panel</nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-layout-column>
    <div class="container col-6">
      <div class="justify-content-center mt-5">
        <form (ngSubmit)="save()" [formGroup]="productForm">

          <label for="titleForm">Title:</label>
          <input class="form-control" formControlName="title" id="titleForm" placeholder="Indtast produkt titel"
                 type="text">


          <label class="mt-2" for="descriptionForm">Beskrivelse:</label>
          <input class="form-control" formControlName="description" id="descriptionForm"
                 placeholder="Indtast produktbeskrivelse"
                 type="text">


          <label class="mt-2" for="priceForm">Pris:</label>
          <input class="form-control" formControlName="price" id="priceForm" placeholder="Indtast produkt pris"
                 type="number">


          <label class="mt-2" for="imageForm">Billede URL:</label>
          <input class="form-control" formControlName="image" id="imageForm" placeholder="Indtast produkt billede URL"
                 type="url">


          <label class="mt-2" for="amountInStockForm">Mængde på lager:</label>
          <input class="form-control" formControlName="amountInStock" id="amountInStockForm"
                 placeholder="Indtast mængden af produkter på lager"
                 type="number">

          <div class="row mt-2">
            <div class="col-md-5 mb-3">
              <label for="existingCategory">Eksisterende kategori</label>
              <select (change)="toggleNewCategory()" class="custom-select d-block" formControlName="existingCategory"
                      id="existingCategory" required>
                <option value='none'></option>
                <option *ngFor="let category of productCategories">{{category}}</option>
              </select>
            </div>

            <div class="col-md-3 mb-3">
              <label for="newCategory">Ny kategori</label>
              <input (input)="toggleExistingCategory()" class="form-control" disabled formControlName="newCategory"
                     id="newCategory" placeholder=""
                     required type="text">
            </div>
          </div>


          <label class="mt-3" for="RadioNo">Skal produktet fremhæves?</label>
          <div>
            <div class="form-check">
              <input [(ngModel)]="productFeatured" [value]="false" class="form-check-input" formControlName="featured"
                     id="RadioNo" type="radio">
              <label class="form-check-label" for="RadioNo">Nej</label>
            </div>
            <div class="form-check">
              <input [(ngModel)]="productFeatured" [value]="true" class="form-check-input" formControlName="featured"
                     id="RadioYes" type="radio">
              <label class="form-check-label" for="RadioYes">Ja</label>
            </div>
          </div>

          <button class="btn btn-primary btn-block mt-3" type="submit">Rediger</button>
        </form>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
