<footer class="footer fixed-bottom">
  <div class="container">
    <div class="row float-right">
      <div class=" col-sm-4 col-md  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">KONTAKT</h5>
        <h6 class="col_white_amrc">Oplysninger</h6>
        <p><i class="fa fa-phone"></i> Tlf. 12 34 56 78 </p>
        <p><i class="fa fa fa-envelope"></i> kontakt@email.dk </p>
        <h6 class="col_white_amrc">Åbningstider</h6>
        <p>Man - Fre: 10.00 - 16.00</p>
      </div>
    </div>
  </div>
</footer>
