<div class="footer-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="footer-top-col">
          <div class="icon">
            <i class="fas fa-shipping-fast fa-2x"></i>
          </div>
          <span>Hurtig Levering</span>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="footer-top-col">
          <div class="icon">
            <i class="fas fa-check-circle fa-2x"></i>
          </div>
          <span>Sikker Betaling</span>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="footer-top-col">
          <div class="icon">
            <i class="fas fa-smile fa-2x"></i>
          </div>
          <span>Tilfredse Kunder</span>
        </div>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>


<div class="footer-bottom pt-25">
  <div>
    <h5 class="center">Kontakt</h5>

    <p><i class="fa fa-phone"></i> Tlf. 12 34 56 78 </p>
    <p><i class="fa fa fa-envelope"></i> kontakt@email.dk </p>
  </div>
  <div>
    <h6>Åbningstider</h6>
    <p>Mandag - Torsdag: 10.00 - 16.00</p>
    <p>Fredag: 11.00 - 13.00</p>
  </div>
</div>
